article.myRoundtables {
	position: relative;
	display: inline-block;
	margin: 0 auto;
	padding: 100px 0;
	text-align: left;
}
section.table {
	position: relative;
	margin: 0 0 30px 0;
	padding: 2em 2em 2em 15em;
	min-height: 8em;
	max-width: 100%;
	border-radius: 10px;
	border-radius: 50px;
	box-shadow: 0px 0px 0 rgba(15, 30, 30, 0);
	border-top-left-radius: 250px;
	border-bottom-left-radius: 250px;
	transition: all 0.15s ease-in-out;
}
section.table:hover,
section.table.selected {
	background: rgba(255, 255, 255, 1);
	box-shadow: 15px 20px 30px 10px rgba(15, 30, 30, 0.05),
		0 0 15px 0 rgba(150, 30, 30, 0.03);
	transition: all 0.15s ease-in-out, box-shadow 0.35s ease-in-out;
}
section.table ul.roundtable {
	position: absolute;
	top: 50%;
	left: 2.5em;
	transform: translate(-50%, -4em);
}
section.table h2 {
	padding: 0;
	margin: 0;
	max-width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
}
section.table span.message {display:block;margin:0 0 .5em 0;padding:.5em 0 0;color:rgba(15,30,30,0.25);font-size:0.45em;line-height:1.5em;font-weight:300;overflow:hidden;max-height:4em;word-wrap:break-word;-webkit-mask-image:linear-gradient(to bottom, black calc(1.5em), transparent calc(3.75em));mask-image:linear-gradient(to bottom, black calc(1.5em), transparent calc(3.75em));}
section.table ul.stats {
	font-size: 0;
	padding: 5px 0 0 0;
}
section.table ul.stats li {
	position: relative;
	display: inline-block;
	margin: 0 0.5em 0 0;
	font-size: 1rem;
	line-height: 1.5rem;
}
section.table ul.stats li:after {
	content: "";
	position: relative;
	display: inline-block;
	width: 0.25em;
	height: 0.25em;
	margin: 0 0 0 0.5em;
	vertical-align: middle;
	border-radius: 50%;
	background: rgba(15, 30, 30, 1);
}
section.table ul.stats li:last-child:after {
	display: none;
}
section.table > .issue {
	position: relative;
	margin: 20px 0 0 0;
	padding: 1.5rem 10px 5px;
	font-weight: 700;
	border: 1px solid rgba(15, 30, 30, 0.1);
	background: rgba(255, 255, 255, 0.35);
	box-shadow: 3px 3px 0 rgba(15, 30, 30, 0.05);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: 0;
}
section.table > .issue > .number {
	position: absolute;
	top: 0;
	left: 10px;
	line-height: 2rem;
	font-size: 0.7em;
	font-weight: 400;
	color: rgba(15, 30, 30, 0.5);
}
section.table > .issue > .status {
	position: absolute;
	top: 0;
	right: 10px;
	line-height: 2rem;
	font-size: 0.7em;
	font-weight: 400;
	color: rgba(15, 30, 30, 0.5);
}
section.table ul.options {
	font-size: 0;
	margin: 0;
	padding: 10px;
	border: 1px solid rgba(15, 30, 30, 0.1);
	background: rgba(252, 252, 252, 0.35);
	box-shadow: 3px 3px 0 rgba(15, 30, 30, 0.05);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	text-align: center;
}
section.table ul.options li {
	position: relative;
	display: inline-block;
	margin: 0 0 0 0.5rem;
}
section.table ul.options li a.button {
	display: inline-block;
	font-size: 0.85rem;
	line-height: 2em;
}

/* Create New */
section.table.createNew {border:5px dashed rgba(15,30,30,0.03);}
section.table.createNew h2 {position:relative;padding:2.5rem 0 0 0;color:rgba(15,30,30,0.25);line-height:2.5rem;transition:color .15s ease-in-out;}
section.table.createNew ul.stats {padding:0 0 2.5rem 0;opacity:1;transition:opacity .15s ease-in-out;}
section.table.createNew ul.roundtable {background:transparent;border:1px solid rgba(15,30,30,0.15);transform:translate(-50%,-4em) scale(1);transition:background .15s ease-in-out, transform .15s ease-in-out;}
section.table.createNew ul.roundtable h5 {padding:0;height:4em;color:rgba(15,30,30,0.25);}
section.table.createNew ul.roundtable h5:after {content:'+';position:absolute;display:inline-block;top:50%;left:50%;padding:.225em 0 0 0;transform:translate(-50%,-50%);font-size:4em;line-height:2em;font-weight:500;transition:color .15s ease-in-out, font-size .15s ease-in-out;}
section.table.createNew input#newRoundtableName:valid ~ ul.roundtable {z-index:3;cursor:pointer;}
section.table.createNew input#newRoundtableName:valid ~ ul.roundtable:hover {background:rgba(15,30,30,1);transform:translate(-50%,-4em) scale(1.08);z-index:3;cursor:pointer;}
section.table.createNew input#newRoundtableName:valid ~ ul.roundtable h5:after {color:rgba(15,30,30,1);font-size:4.5em;}
section.table.createNew input#newRoundtableName:valid ~ ul.roundtable:hover h5:after {color:rgba(255,220,0,1);text-shadow:0 0 0 rgba(15,30,30,0);}

section.table.createNew form {}
section.table.createNew form input#newRoundtableName {position:absolute;display:block;padding:2rem 0 0 0;background:transparent;outline:0;border:0;font-family:"Biryani", Helvetica, Arial, sans-serif;font-size:2.5em;font-weight:900;line-height:1.45em;color:rgba(15, 30, 30, 1);}
section.table.createNew form input#newRoundtableName + label {position:absolute;top:0;left:0;width:100%;height:100%;z-index:3;cursor:pointer;}
section.table.createNew form input#newRoundtableName:focus ~ h2 {color:transparent;z-index:1;}
section.table.createNew form input#newRoundtableName~ h2:before {content:'Choose a name';position:absolute;bottom:calc(0px - 5px);left:0;opacity:0;transition:opacity 0.15s ease-in-out, bottom .15s ease-in-out;color:rgba(15,30,30,0.1);}
section.table.createNew form input#newRoundtableName:focus ~ h2:before {opacity:1;bottom:0;}
section.table.createNew form input#newRoundtableName:valid ~ h2 {color:transparent;}
section.table.createNew form input#newRoundtableName:focus:valid ~ h2:before {opacity:0;}
section.table.createNew form textarea#newRoundtableDescription {position:absolute;bottom:calc(0px - 5px);display:block;width:calc(100% - 15rem);height:6rem;margin:0;padding:0;font-size:1rem;font-weight:400;line-height:1.5rem;font-family:"Montserrat", Helvetica, Arial, sans-serif;background:transparent;color:rgba(15, 30, 30, 0.5);z-index:1;outline:0;border:0;opacity:0;transition:opacity .15s ease-in-out, bottom .15s ease-in-out;}
section.table.createNew form input#newRoundtableName:valid ~ textarea#newRoundtableDescription {bottom:0;opacity:1;z-index:3;}
section.table.createNew form input#newRoundtableName:valid ~ ul.stats {opacity:0;}

section.table.createNew form input {}

/*section.table.createNew textarea {display:block;width:100%;min-height:100px;margin:.25em 0 1em;padding:1em;background:rgba(255,255,255,1);color:rgba(15,30,30,0.85);font-size:1em;font-family:"Montserrat", Helvetica, Arial, sans-serif;border:1px solid rgba(15,30,30,0.1);border-radius:1em;outline:0;transition:border .35s ease-in-out, min-height .35s ease-in-out;}
section.table.createNew textarea:focus {min-height:250px;border:1px solid rgba(15,30,30,0.15);}
section.table.createNew textarea:valid {min-height:250px;}*/

/* Animation States */
section .roundtable > section,
section .roundtable > section > li > span {
	animation-play-state: paused;
}
section .roundtable > section > li > span + img {
	animation-play-state: paused;
}
section:hover .roundtable > section,
section:hover .roundtable > section > li > span {
	animation-play-state: running;
}
section:hover .roundtable > section > li > span + img {
	animation-play-state: running;
}
section:hover .roundtable:hover > section,
section:hover .roundtable:hover > section > li > span {
	animation-play-state: paused;
}
section:hover .roundtable:hover > section > li > span + img {
	animation-play-state: paused;
}
