/* Edit */
.editing {
	max-height: 100vh;
	overflow-y: hidden;
}
.editing > #root > nav {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
}
.editing article.myRoundtables {
	opacity: 0;
}
.editing main {
	min-height: calc(100% - 40px);
}
.editing .brand {
	bottom: 15px;
}
article.edit {
	position: fixed;
	display: block;
	bottom: 100%;
	left: 50%;
	width: 1000px;
	max-width: calc(100% - 20px);
	height: 0;
	text-align: left;
	background: rgba(255, 255, 255, 1);
	box-shadow: 15px 20px 30px 10px rgba(15, 30, 30, 0.05),
		0 0 15px 0 rgba(150, 30, 30, 0.03);
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	overflow: hidden;
	z-index: -1;
	opacity: 0;
	transform: translate(-50%, 20px) scale(0.98);
	transform-origin: bottom center;
	transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out,
		bottom 0s 0.25s, height 0s 0.25s, z-index 0s 0.25s;
}
body.editing article.edit {
	bottom: 0;
	height: calc(100% - 70px);
	opacity: 1;
	z-index: 10;
	transform: translate(-50%, 0) scale(1);
	transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out, bottom 0s,
		height 0s, z-index 0s;
}
article.edit + .close {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
body.editing article.edit + .close {
	display: block;
	z-index: 9;
}
article.edit + .close a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	outline: 0;
}
article.edit + .close a:empty {
	cursor: default;
}

article.edit > * {
	-webkit-animation: pageload 0.5s 2s ease-in forwards;
	-moz-animation: pageload 0.5s 2s ease-in forwards;
	-ms-animation: pageload 0.5s 2s ease-in forwards;
	-o-animation: pageload 0.5s 2s ease-in forwards;
	animation: pageload 0.5s 2s ease-in forwards;
}
article.edit > *:nth-child(1) {
	-webkit-animation: pageload 0.5s 0.25s ease-in forwards;
	-moz-animation: pageload 0.5s 0.25s ease-in forwards;
	-ms-animation: pageload 0.5s 0.25s ease-in forwards;
	-o-animation: pageload 0.5s 0.25s ease-in forwards;
	animation: pageload 0.5s 0.25s ease-in forwards;
}
article.edit > *:nth-child(2) {
	-webkit-animation: pageload 0.5s 0.5s ease-in forwards;
	-moz-animation: pageload 0.5s 0.5s ease-in forwards;
	-ms-animation: pageload 0.5s 0.5s ease-in forwards;
	-o-animation: pageload 0.5s 0.5s ease-in forwards;
	animation: pageload 0.5s 0.5s ease-in forwards;
}
article.edit > *:nth-child(n+3) {
	-webkit-animation: pageload 0.5s 1s ease-in forwards;
	-moz-animation: pageload 0.5s 1s ease-in forwards;
	-ms-animation: pageload 0.5s 1s ease-in forwards;
	-o-animation: pageload 0.5s 1s ease-in forwards;
	animation: pageload 0.5s 1s ease-in forwards;
}
article.edit > * {
	opacity: 0;
}
article.edit header {
	padding: 30px 40px 0;
	background: rgba(15, 30, 30, 0.005);
}
article.edit header:after {
	content: "";
	position: relative;
	display: block;
	width: 100%;
	height: 0;
	clear: both;
	opacity: 0;
}
article.edit header h2 {
	max-width: calc(100% - 2em);
	float: left;
}
article.edit header h2 ul.roundtable {
	font-size: 0.25em;
	margin: 0 2em 0 0;
	vertical-align: middle;
}
article.edit header .close {
	position: relative;
	float: right;
	width: 2em;
	height: 2em;
	color: rgba(15, 30, 30, 1);
}
article.edit header .close span {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1em;
	height: 1em;
	transform: translate(-50%, -50%) rotate(0deg) scale(1);
	font-size: 4em;
	line-height: 1.25em;
	font-family: "Biryani", Helvetica, Arial, sans-serif;
	text-align: center;
	cursor: pointer;
	border-radius: 50%;
	overflow: hidden;
	transition: transform 0.25s ease-in-out;
}
article.edit header .close:hover span {
	transform: translate(-50%, -50%) rotate(-90deg) scale(0.9);
}
article.edit nav {
	padding: 0 40px 10px;
	background: rgba(15, 30, 30, 0.005);
	border-bottom: 1px solid rgba(15, 30, 30, 0.05);
	font-size: 1.2em;
}
article.edit ul.stats {
}
article.edit ul.stats > li {
	position: relative;
	display: inline-block;
	margin: 0 1em 0 0;
	padding: 0 10px;
	font-size: 0.85em;
	line-height: 3em;
	color: rgba(15, 30, 30, 1);
	font-weight: 700;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	border-bottom-left-radius: 100px;
	cursor: pointer;
}
article.edit ul.stats > li:hover {
	background: rgba(15, 30, 30, 0.03);
}
article.edit ul.stats > li:first-child {
	border: 0;
	margin: 0 1em 0 -10px;
}
article.edit ul.stats > li:before {
	content: "";
	position: absolute;
	top: 50%;
	left: -0.75em;
	display: inline-block;
	width: 0.5em;
	height: 0.5em;
	vertical-align: middle;
	border-radius: 50%;
	background: rgba(15, 30, 30, 1);
	transform: translate(0, -50%);
}
article.edit ul.stats > li.new:before {
	
}
article.edit ul.stats > li:first-child:before {
	display: none;
}
article.edit ul.stats ul.members {
	display: inline-block;
	float: left;
	margin: 0 0.5em 0 0;
	padding: 0.5em 0;
}
article.edit ul.stats ul.members li {
	position: relative;
	display: inline-block;
	width: 2em;
	height: 2em;
	margin: 0 0 0 -0.75em;
	float: left;
	text-align:center;
	border-radius: 50%;
	border: 3px solid rgba(254, 254, 254, 1);
	overflow: hidden;
}
article.edit ul.stats ul.members li > em {position:relative;display:block;width:100%;height:100%;background:rgba(15,30,30,1);color:rgba(255,255,255,1);font-size:.7em;line-height:calc((2em / .7) - 6px);font-weight:600;}
article.edit ul.stats ul.members li.more > em {font-size:1.5em;line-height:calc((2em / 1.5) - 4px);}
article.edit ul.stats li.members:hover ul.members li {
	border: 3px solid rgba(247, 248, 248, 1);
}
article.edit ul.stats li.members:hover ul.members li {
	border: 3px solid rgba(247, 248, 248, 1);
}
article.edit ul.stats li.members ul.members li:empty {
	background:rgba(247,248,248,1);
}
article.edit ul.stats ul.members li img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
article.edit ul.stats ul.members.waiting li:after {content:'';position:absolute;top:50%;left:50%;width:0;height:0;transform:scale(1) translate(-50%,-50%);background:rgba(15,30,30,0.15);border-radius:50%;
	-webkit-animation: waiting 1.8s 0s linear infinite;
	-moz-animation: waiting 1.8s 0s linear infinite;
	-ms-animation: waiting 1.8s 0s linear infinite;
	-o-animation: waiting 1.8s 0s linear infinite;
	animation: waiting 1.8s 0s linear infinite;
}
article.edit ul.stats ul.members.waiting li:nth-of-type(2):after {
	-webkit-animation: waiting 1.8s .2s linear infinite;
	-moz-animation: waiting 1.8s .2s linear infinite;
	-ms-animation: waiting 1.8s .2s linear infinite;
	-o-animation: waiting 1.8s .2s linear infinite;
	animation: waiting 1.8s .2s linear infinite;
}
article.edit ul.stats ul.members.waiting li:nth-of-type(3):after {
	-webkit-animation: waiting 1.8s .4s linear infinite;
	-moz-animation: waiting 1.8s .4s linear infinite;
	-ms-animation: waiting 1.8s .4s linear infinite;
	-o-animation: waiting 1.8s .4s linear infinite;
	animation: waiting 1.8s .4s linear infinite;
}
article.edit div.content {position:absolute;bottom:0;left:0;width:100%;height:calc(100% - ((2.5em * 1.15 + 30px) + ((1.2em * .85 * 3) + 11px)));background:rgba(15, 30, 30, 0.005);text-align:left;overflow:hidden;overflow-y:auto;}
article.edit section {
	padding: 50px 40px;
}
article.edit section > h1, article.edit section > h2, article.edit section > h3, article.edit section > h4, article.edit section > h5, article.edit section > h6 {padding:0 1rem;} 
article.edit section > * > em {color:rgba(15,30,30,0.25);font-size:0.85em;font-weight:600;}

/* Section > Members */
article.edit section.members {}
article.edit section.members ul.memberList {display:flex;flex:auto;flex-wrap:wrap;justify-content:left;text-align:center;margin:20px 0 0;padding:0;}
article.edit section.members ul.memberList li {min-width:calc(100% / 3 - 2em);max-width:calc(100% / 2 - 1em);margin:0 1em 2em;padding:20px 20px 0;background:rgba(255,255,255,1);border:1px solid rgba(15,30,30,0.10);border-radius:1.5em;box-shadow:3px 3px 0 rgba(15,30,30,0.03);}
article.edit section.members ul.memberList li:hover {}
article.edit section.members ul.memberList li:after {content:'';position:relative;display:block;width:100%;height:0;clear:both;}
article.edit section.members ul.memberList li span.avatar {position:relative;display:block;width:5em;height:5em;margin:0 auto;background:rgba(15,30,30,1);border-radius:50%;overflow:hidden;color:rgba(255,255,255,1);line-height:5em;font-weight:600;}
article.edit section.members ul.memberList li span.avatar img {display:block;width:100%;height:100%;object-fit:cover;}
article.edit section.members ul.memberList li span.avatar em {font-size:1.5em;}
article.edit section.members ul.memberList li > h4 {display:block;padding:1em 30px;line-height:1em;text-align:center;}
article.edit section.members ul.memberList li > a.button:last-child {margin-bottom:1em;}
article.edit section.members ul.memberList li > div.stats {display:block;}
article.edit section.members ul.memberList li > div.stats > span {position:relative;display:inline-block;max-width:calc(100% / 2);padding:1em .5em;font-size:0.75rem;font-weight:600;}
article.edit section.members ul.memberList li > div.stats > span:first-child {float:left;}
article.edit section.members ul.memberList li > div.stats > span:last-child {float:right;}
article.edit section.members ul.memberList li > div.stats > span:last-child:before {content:"";position:relative;display:inline-block;width:0.5em;height:0.5em;vertical-align:middle;margin:0 0.5em 0 0;border-radius:50%;}
article.edit section.members ul.memberList li > div.stats > span.active:before {background:rgba(255, 220, 0, 1);}
article.edit section.members ul.memberList li > div.stats > span.inactive:before {border:1px solid rgba(15,30,30,0.1);}
article.edit section.members ul.memberList li > div.stats > span.inactive {color:rgba(15,30,30,0.2);}
article.edit section.members ul.memberList li.invited {border:1px solid rgba(15,30,30,0.05);}
article.edit section.members ul.memberList li.invited a.button {border:1px solid rgba(15,30,30,0.05);color:rgba(15,30,30,0.35);cursor:default;}
article.edit section.members ul.memberList li.invited a.button:hover {border:1px solid rgba(15,30,30,0.05);background:transparent;color:rgba(15,30,30,0.35);}

/* Section > Issue List */
article.edit section.issueList {}
article.edit section.issueList ul.issueList {display:block;margin:20px 0 0;padding:0;}
article.edit section.issueList ul.issueList > li {position:relative;display:block;margin:0 0 2em;padding:0;background:rgba(255,255,255,1);border-radius:1.5em;}
article.edit section.issueList ul.issueList > li > h3.issue {position:relative;display:block;padding:1.5em 20px .25em;box-shadow:3px 3px 0 rgba(15,30,30,0.03);border:1px solid rgba(15,30,30,0.10);border-bottom:0;border-top-left-radius:1.5rem;border-top-right-radius:1.5rem;font-weight:800;}
article.edit section.issueList ul.issueList > li.new > h3.issue {color:rgba(15,30,30,0.15);border:1px solid rgba(15,30,30,0.1);border-radius:1.5rem;}
article.edit section.issueList ul.issueList > li.new > h3.issue > a.button {position:absolute;display:inline-block;top:15px;right:15px;}
article.edit section.issueList ul.issueList > li.new:after {content:'';position:absolute;display:block;top:0;left:0;width:100%;height:100%;background:transparent;border-radius:1.5rem;cursor:pointer;}
article.edit section.issueList ul.issueList > li.new:hover > h3.issue > a.button {background: rgba(15, 30, 30, 1);color: rgba(255, 220, 0, 1);text-shadow: none;}
article.edit section.issueList ul.issueList > li > h3 .number {
	position: absolute;
	top: 0;
	left: 20px;
	line-height: 3em;
	font-size: 0.5em;
	font-weight: 300;
	color: rgba(15, 30, 30, 0.5);
}
article.edit section.issueList ul.issueList > li > h3 .status {
	position: absolute;
	top: 0;
	right: 20px;
	line-height: 3em;
	font-size: 0.5em;
	font-weight: 300;
	color: rgba(15, 30, 30, 0.5);
}
article.edit section.issueList ul.issueList > li > h3 span.message {display:block;margin:0 0 .5em 0;padding:.5em 0 0;color:rgba(15,30,30,0.25);font-size:0.45em;line-height:1.5em;font-weight:300;overflow:hidden;max-height:4em;word-wrap:break-word;-webkit-mask-image:linear-gradient(to bottom, black calc(1.5em), transparent calc(3.75em));mask-image:linear-gradient(to bottom, black calc(1.5em), transparent calc(3.75em));}
article.edit section.issueList ul.issueList > li > ul.options {
	font-size: 0;
	margin: 0;
	padding: 20px;
	border: 1px solid rgba(15, 30, 30, 0.1);
	background: rgba(252, 252, 252, 0.35);
	box-shadow: 3px 3px 0 rgba(15, 30, 30, 0.05);
	border-bottom-left-radius:1.5rem;
	border-bottom-right-radius:1.5rem;
	text-align: right;
	font-size: 0.85rem;
	line-height: 2em;
}
article.edit section.issueList ul.issueList > li > ul.options li {
	position: relative;
	display: inline-block;
	margin: 0 0 0 0.5rem;
}
article.edit section.issueList ul.issueList > li > ul.options li:first-child {margin:0;}
article.edit section.issueList ul.issueList > li > ul.options li.priority {float:left;}
article.edit section.issueList ul.issueList > li > ul.options li a.button {font-size:1em;line-height:2rem;
	display: inline-block;
}
article.edit section.issueList ul.issueList > li > ul.options li a.button.notPriority {font-size:0.85em;}
article.edit section.issueList ul.issueList > li ul.stats {padding:.3rem .5rem;font-size:0.8em;}
article.edit section.issueList ul.issueList > li ul.stats > li {margin:0;font-weight:500;}
article.edit section.issueList ul.issueList > li ul.stats > li:before {display:none;}
article.edit section.issueList ul.issueList > li ul.stats > li.privacy {float:right;color:rgba(15,30,30,0.25);}
article.edit section.issueList ul.issueList > li ul.stats > li.privacy.public {color:rgba(15,30,30,1);}
article.edit section.issueList ul.issueList > li ul.stats > li.visits {float:right;}
article.edit section.issueList ul.issueList > li ul.stats > li.more {float:right;}

@media only screen and (max-width: 1024px) {
	body.editing > nav {
		width: 100%;
	}
	article.edit {
		border-top-left-radius: 30px;
		border-top-right-radius: 30px;
		font-size: 0.5rem;
	}
	article.edit header {
		padding: 20px 20px 0;
	}
	article.edit nav {
		padding: 0 20px 10px;
	}
	article.edit ul.stats > li {
		padding: 0 6px;
	}
	article.edit ul.stats ul.members li:nth-child(n + 5) {
		display: none;
	}
	article.edit section {
		padding: 30px 30px;
	}
}