nav.navigation {
	max-width: 100%;
	margin: 0 auto;
}
nav.navigation {
	position: relative;
	display: inline-block;
	z-index: 11;
}
nav.navigation > ul {
	display: block;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 0;
}
nav.navigation > ul:after {
	content: "";
	position: relative;
	display: block;
	width: 100%;
	height: 0;
	clear: both;
}
nav.navigation > ul > li {
	position: relative;
	display: inline-block;
	text-align: center;
	z-index: 2;
	margin: 0 auto;
	font-size: 1rem;
	float:left;
}
nav.navigation > ul > li a {
	display: block;
	text-decoration: none;
	padding: 20px 20px;
}
nav.navigation > ul > li h6 {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0 0 15px;
	color: rgba(15, 30, 30, 1);
	transition: color 0.2s ease-in-out;
	font-weight: 700;
	white-space: nowrap;
	line-height:calc(1.5em / .85);
}
nav.navigation > ul:hover > li.selected h6 {
	color: rgba(15, 30, 30, 1);
}
nav.navigation > ul > li.selected h6,
nav.navigation > ul:hover > li:hover h6 {
	color: rgba(15, 30, 30, 1);
}
nav.navigation > ul > li h6:after {
	content: "";
	position: absolute;
	top: calc(100% - 5px);
	left: 0;
	width: 100%;
	height: 5px;
	background: rgba(255, 220, 0, 1);
	opacity: 0;
	border-radius: 10px;
	z-index: -1;
	transition: top 0.2s ease-in-out, opacity 0.2s ease-in-out;
	z-index: 0;
}
nav.navigation > ul:hover > li.selected h6:after {
	top: calc(100% - 8px);
	opacity: 0;
}
nav.navigation > ul > li.selected h6:after,
nav.navigation > ul:hover > li:hover h6:after {
	top: calc(100% - 8px);
	opacity: 1;
}

body.dashboard > nav.navigation > ul > li.left {
	float: left;
}

nav.navigation > ul > li.account img {position:relative;display:inline;width:1.5em;height:1.5em;margin:0 0 0 .5em;vertical-align:middle;object-fit:cover;border-radius:50%;}
nav.navigation > ul > li.logo .roundtable.logo {margin:20px 2em 2em;font-size:5px;}

.toggleDropdown {}
.toggleDropdown ul.dropdown {position:absolute;top:calc(60% + .5em);left:-9999px;min-width:100%;border-radius:5px;background:rgba(255,255,255,1);transform:translate(-50%,5px) perspective(30vh) rotateX(10deg) rotateZ(-1deg);opacity:0;box-shadow:0 0 0 0 rgba(15, 30, 30, 0), 0 0 0 0 rgba(150, 30, 30, 0);text-align:left;transition:top .2s 0s ease-in-out, left 0s .2s, transform .2s 0s ease-in-out, opacity .2s 0s ease-in-out, opacity .2s 0s ease-in-out;}
.toggleDropdown:hover ul.dropdown {left:50%;transform:translate(-50%, 0) perspective(30vh) rotateX(0) rotateZ(0);opacity:1;box-shadow:8px 10px 15px 5px rgba(15, 30, 30, 0.05), 0 0 8px 0 rgba(150, 30, 30, 0.03);transition:top .2s 0s ease-in-out, left 0s 0s, transform .2s 0s ease-in-out, opacity .2s 0s ease-in-out, box-shadow .45s 0s ease-in-out;}
.toggleDropdown ul.dropdown:before {content:'';position:absolute;top:0;left:0;width:100%;height:0;opacity:0;}
.toggleDropdown ul.dropdown:before {top:-5px;left:0;width:100%;height:5px;opacity:0;background:red;}
.toggleDropdown ul.dropdown li {position:relative;display:block;min-width:120px;padding:15px 30px;color:rgba(15,30,30,1);font-size:0.85em;font-weight:600;opacity:1;cursor:pointer;}
.toggleDropdown ul.dropdown li:first-child {border-top-left-radius:5px;border-top-right-radius:5px;}
.toggleDropdown ul.dropdown li:last-child {border-bottom-left-radius:5px;border-bottom-right-radius:5px;}
.toggleDropdown ul.dropdown li.logout {border-top:1px solid rgba(15,30,30,0.03);background:rgba(15,30,30,0.01);}
.toggleDropdown ul.dropdown li:hover {background:rgba(15,30,30,0.02);}

nav.navigation > ul > li.toggleDropdown h6:after {display:none!important;}