body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Biryani", "Montserrat",
		"Helvetica Neue", Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

/* Animations */
@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@-moz-keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@-webkit-keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@-ms-keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@-o-keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes rotate-reverse {
	from {
		transform: translate(-1.05em, -1.05em) rotate(0deg);
	}
	to {
		transform: translate(-1.05em, -1.05em) rotate(-360deg);
	}
}
@-moz-keyframes rotate-reverse {
	from {
		transform: translate(-1.05em, -1.05em) rotate(0deg);
	}
	to {
		transform: translate(-1.05em, -1.05em) rotate(-360deg);
	}
}
@-webkit-keyframes rotate-reverse {
	from {
		transform: translate(-1.05em, -1.05em) rotate(0deg);
	}
	to {
		transform: translate(-1.05em, -1.05em) rotate(-360deg);
	}
}
@-ms-keyframes rotate-reverse {
	from {
		transform: translate(-1.05em, -1.05em) rotate(0deg);
	}
	to {
		transform: translate(-1.05em, -1.05em) rotate(-360deg);
	}
}
@-o-keyframes rotate-reverse {
	from {
		transform: translate(-1.05em, -1.05em) rotate(0deg);
	}
	to {
		transform: translate(-1.05em, -1.05em) rotate(-360deg);
	}
}

@keyframes rotate-avatar {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to {
		transform: translate(-50%, -50%) rotate(-360deg);
	}
}
@-moz-keyframes rotate-reverse {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to {
		transform: translate(-50%, -50%) rotate(-360deg);
	}
}
@-webkit-keyframes rotate-reverse {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to {
		transform: translate(-50%, -50%) rotate(-360deg);
	}
}
@-ms-keyframes rotate-reverse {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to {
		transform: translate(-50%, -50%) rotate(-360deg);
	}
}
@-o-keyframes rotate-reverse {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to {
		transform: translate(-50%, -50%) rotate(-360deg);
	}
}

@keyframes pageload {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-moz-keyframes pageload {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-webkit-keyframes pageload {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-ms-keyframes pageload {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-o-keyframes pageload {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes waiting {
	0% {
		width: 6px;
		height: 6px;
		opacity: 0;
	}
	12% {
		width: 6px;
		height: 6px;
		opacity: 1;
	}
	24% {
		width: 6px;
		height: 6px;
		opacity: 1;
	}
	70% {
		width: 6px;
		height: 6px;
		opacity: 0;
	}
	100% {
		width: 6px;
		height: 6px;
		opacity: 0;
	}
}
@-moz-keyframes waiting {
	0% {
		width: 6px;
		height: 6px;
		opacity: 0;
	}
	12% {
		width: 6px;
		height: 6px;
		opacity: 1;
	}
	24% {
		width: 6px;
		height: 6px;
		opacity: 1;
	}
	70% {
		width: 6px;
		height: 6px;
		opacity: 0;
	}
	100% {
		width: 6px;
		height: 6px;
		opacity: 0;
	}
}
@-webkit-keyframes waiting {
	0% {
		width: 6px;
		height: 6px;
		opacity: 0;
	}
	12% {
		width: 6px;
		height: 6px;
		opacity: 1;
	}
	24% {
		width: 6px;
		height: 6px;
		opacity: 1;
	}
	70% {
		width: 6px;
		height: 6px;
		opacity: 0;
	}
	100% {
		width: 6px;
		height: 6px;
		opacity: 0;
	}
}
@-ms-keyframes waiting {
	0% {
		width: 6px;
		height: 6px;
		opacity: 0;
	}
	12% {
		width: 6px;
		height: 6px;
		opacity: 1;
	}
	24% {
		width: 6px;
		height: 6px;
		opacity: 1;
	}
	70% {
		width: 6px;
		height: 6px;
		opacity: 0;
	}
	100% {
		width: 6px;
		height: 6px;
		opacity: 0;
	}
}
@-o-keyframes waiting {
	0% {
		width: 6px;
		height: 6px;
		opacity: 0;
	}
	12% {
		width: 6px;
		height: 6px;
		opacity: 1;
	}
	24% {
		width: 6px;
		height: 6px;
		opacity: 1;
	}
	70% {
		width: 6px;
		height: 6px;
		opacity: 0;
	}
	100% {
		width: 6px;
		height: 6px;
		opacity: 0;
	}
}

/* Resets */
* {
	box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	position: relative;
	display: block;
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clear {
	position: relative;
	display: block;
	width: 100%;
	height: 0;
	clear: both;
}

body {
	background: rgba(252, 252, 252, 1) url(images/pattern-7.png) bottom right
		no-repeat;
	overflow-x: hidden;
	font-size: 1rem;
	background-attachment: fixed;
	text-align: center;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Biryani", Helvetica, Arial, sans-serif;
	font-weight: 900;
	line-height: 1.15em;
	color: rgba(15, 30, 30, 1);
}
h1 {
	font-size: 3em;
}
h2 {
	font-size: 2.5em;
}
h3 {
	font-size: 2em;
}
h4 {
	font-size: 1.5em;
}
h5 {
	font-size: 1em;
}
h6 {
	font-size: 0.85em;
}
p,
ol,
ul,
blockquote {
	font-family: "Montserrat", Helvetica, Arial, sans-serif;
	font-weight: 400;
	line-height: 1.25em;
	color: rgba(15, 30, 30, 0.5);
}
input,
select,
label {
	font-family: "Montserrat", Helvetica, Arial, sans-serif;
	font-weight: 600;
	line-height: 1em;
	color: rgba(15, 30, 30, 0.5);
	margin: 0;
}
.textLeft {text-align:left;}
.textCenter {text-align:center;}
.textRight {text-align:right;}

main {
	position: relative;
	display: block;
	width: 1600px;
	max-width: 100%;
	min-height: calc(100vh - 120px);
	margin: 0 auto;
	text-align: center;
}

article {
	text-align: left;
}

section {
}

footer {
}
.brand {
	position: relative;
	display: block;
	bottom: 10px;
	left: 0;
	width: 100%;
	text-align: center;
	z-index: 10;
}
.brand .roundtable {
	font-size: 5px;
	vertical-align: middle;
	margin-top: 0;
}
.brand h4 {
	position: relative;
	display: inline-block;
	line-height: 40px;
	margin: 0;
}
.brand h4:after {
	content: "Alpha";
	position: absolute;
	top: 2em;
	right: 0;
	font-size: 0.35em;
	font-weight: 500;
	color: rgba(15, 30, 30, 0.5);
}
.brand > a {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: 0;
	opacity: 1;
	z-index: 2;
}

/* Forms */

section .field {
	position: relative;
}
section .button {
	cursor: pointer;
}

.field {
	position: relative;
	display: block;
	border: 1px solid rgba(15, 30, 30, 0.05);
	background: transparent;
	border-radius: 10px;
	font-size: 0;
	overflow: hidden;
	margin-bottom: 10px;
}
.field > * {
	z-index: 1;
}
.field form > * {
	margin: 0 0 10px 0;
}
.field input {
	position: relative;
	display: block;
	width:100%;
	outline: 0;
	line-height: 3rem;
	padding: 10px 0 0 20px;
	border: 0;
	background: transparent;
	font-size: 1.25rem;
}
.field input + label {
	position: absolute;
	left: 20px;
	cursor: text;
	z-index: 0;
	transition: all 0.1s ease-in-out;
}
.field input[value=""] + label {
	top: 5px;
	line-height: 3rem;
	font-size: 1.25rem;
}
.field input:focus + label,
.field.selected input + label {
	top: 10px;
	font-size: 0.6rem;
	line-height: 0.6em;
	opacity: 0.5;
}
.button {
	position: relative;
	display: block;
	line-height: 50px;
	padding: 5px 20px;
	font-family: "Montserrat", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 1.25rem;
	line-height: 3rem;
	text-decoration: none;
	background: transparent;
	color: rgba(15, 30, 30, 1);
	border: 1px solid rgba(15, 30, 30, 0.1);
	font-weight: 600;
	white-space: nowrap;
	outline: 0;
	transition: all 0.15s ease-in-out;
	border-radius: 10px;
	cursor:pointer;
}
.button.big {padding:20px 30px;}
.button.notPriority {
	border: 1px solid transparent;
	color: rgba(15, 30, 30, 0.5);
}
.button.new {
	padding: 5px 20px 5px calc(20px - 0.5em);
}
.button.new:before {
	content: "";
	position: relative;
	display: inline-block;
	width: 0.5em;
	height: 0.5em;
	vertical-align: middle;
	margin: 0 0.5em 0 0;
	background: rgba(255, 220, 0, 1);
	border-radius: 50%;
}
.button:hover,
.button:focus {
	background: rgba(15, 30, 30, 1);
	color: rgba(255, 220, 0, 1);
	text-shadow: none;
}

/* Roundtable Dmeonstration */
ul.grid {
	position: relative;
	margin: 0 auto;
	list-style-type: none;
	padding: 0 0 100px;
	text-align: center;
}
ul.grid > li {
	position: relative;
	display: inline-block;
	width: calc(100% / 3 - 60px);
	margin: 0 20px 20px;
	padding: 40px;
	background: rgba(255, 255, 255, 1);
	border-radius: 5px;
	border: 1px solid rgba(15, 30, 30, 0.07);
	box-shadow: 3px 3px 0 rgba(15, 30, 30, 0.01);
	text-align: center;
}

/* Roundtable Core */
.roundtable {
	position: relative;
	display: inline-block;
	width: 0;
	height: 0;
	font-size: 1.5em;
	padding: 2em;
	margin: 2em;
	background: rgba(15, 30, 30, 1);
	overflow: visible;
	border-radius: 50%;
	list-style-type: none;
	z-index: 2;
}
.roundtable.logo {
	vertical-align: middle;
}
.roundtable > section {
	-webkit-animation: rotate 90s 0s linear infinite;
	-moz-animation: rotate 90s 0s linear infinite;
	-ms-animation: rotate 90s 0s linear infinite;
	-o-animation: rotate 90s 0s linear infinite;
	animation: rotate 90s 0s linear infinite;
}
.roundtable:hover > section,
.roundtable:hover > section > li > span {
	animation-play-state: paused;
}
.roundtable:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	padding: 3.25em;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0);
	transform: translate(-50%, -50%) scale(1.03);
	z-index: -1;
	transition: border 0.15s ease-in-out, transform 0.15s ease-in-out;
}
.roundtable:hover:before {
	border: 1px solid rgba(0, 0, 0, 0.15);
	transform: translate(-50%, -50%) scale(1);
}
.roundtable:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	padding: 5em;
	border-radius: 50%;
	border: 0;
	transform: translate(-50%, -50%);
	opacity: 0;
	z-index: -1;
}
.roundtable > section > li {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	margin: -0.7em;
	padding: 0.7em;
	border-radius: 50%;
	z-index: 2;
	cursor: pointer;
	overflow: hidden;
}
.roundtable > section > li:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(15, 30, 30, 1);
	border-radius: 50%;
	transform: scale(1) translate(0, 0);
	transition: transform 0s ease-in-out, background 0s ease-in-out;
}
.roundtable > section > li:hover {
	overflow: visible;
	z-index: 3;
}
.roundtable > section > li:hover:before {
	transform: scale(1.2) translate(0, 0);
	background: rgba(255, 220, 0, 1);
	transition: transform 0.15s ease-in-out, background 0.15s ease-in-out;
}
.roundtable.logo > section > li:hover:before {
	transform: none;
	background: rgba(15, 30, 30, 1);
}
.roundtable > h5 {
	color: rgba(255, 255, 255, 1);
	position: absolute;
	top: 0;
	left: 0;
	width: 4em;
	margin: 0;
	padding: 5px 0 0 0;
	line-height: calc(4em - 5px);
	text-align: center;
}
.roundtable > section > li > span {
	position: relative;
	display: inline-block;
	opacity: 0;
}
.roundtable > section > li > span {
	min-width: 2.1em;
	height: 2.1em;
	padding: 0 0.7em 0 2.5em;
	font-size: 1em;
	line-height: 0.7em;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.85);
	background: white;
	border: 1px solid rgba(15, 30, 30, 0.15);
	z-index: -1;
	border-radius: 1.4em;
	transform-origin: 1.05em 1.05em;
}
.roundtable > section > li:hover > span {
	opacity: 1;
}
.roundtable > section > li > span {
	-webkit-animation: rotate-reverse 90s 0s linear infinite;
	-moz-animation: rotate-reverse 90s 0s linear infinite;
	-ms-animation: rotate-reverse 90s 0s linear infinite;
	-o-animation: rotate-reverse 90s 0s linear infinite;
	animation: rotate-reverse 90s 0s linear infinite;
}
.roundtable > section > li > span > * {
	position: relative;
	display: inline-block;
	white-space: nowrap;
	line-height: calc(2.1em / 0.8 - 2px);
	font-size: 0.8em;
}
.roundtable > section > li > span + img {
	position: absolute;
	top: 0.7em;
	left: 0.7em;
	width: 1.6em;
	height: 1.6em;
	border-radius: 50%;
	object-fit: cover;
	z-index: 2;
	-webkit-animation: rotate-avatar 90s 0s linear infinite;
	-moz-animation: rotate-avatar 90s 0s linear infinite;
	-ms-animation: rotate-avatar 90s 0s linear infinite;
	-o-animation: rotate-avatar 90s 0s linear infinite;
	animation: rotate-avatar 90s 0s linear infinite;
	border: 1px solid rgba(252, 252, 252, 1);
}
.roundtable:hover > section > li > span + img {
	animation-play-state: paused;
}
.roundtable:hover > section > li:hover > span + img {
	width: calc(1.4em * 1.3);
	height: calc(1.4em * 1.3);
}

.roundtable > section > li.empty:before {
	width: calc(100% - 2px);
	height: calc(100% - 2px);
	background: rgba(252, 252, 252, 1);
	border: 1px solid rgba(15, 30, 30, 0.15);
}

/* 12 */
.roundtable > section > li:nth-of-type(1):nth-last-of-type(12) {
	transform: rotate(calc(360deg / 12)) translate(3.15em)
		rotate(calc(-360deg / 12));
}
.roundtable > section > li:nth-of-type(2):nth-last-of-type(11) {
	transform: rotate(calc(360deg / 12 * 2)) translate(3.15em)
		rotate(calc(-360deg / 12 * 2));
}
.roundtable > section > li:nth-of-type(3):nth-last-of-type(10) {
	transform: rotate(calc(360deg / 12 * 3)) translate(3.15em)
		rotate(calc(-360deg / 12 * 3));
}
.roundtable > section > li:nth-of-type(4):nth-last-of-type(9) {
	transform: rotate(calc(360deg / 12 * 4)) translate(3.15em)
		rotate(calc(-360deg / 12 * 4));
}
.roundtable > section > li:nth-of-type(5):nth-last-of-type(8) {
	transform: rotate(calc(360deg / 12 * 5)) translate(3.15em)
		rotate(calc(-360deg / 12 * 5));
}
.roundtable > section > li:nth-of-type(6):nth-last-of-type(7) {
	transform: rotate(calc(360deg / 12 * 6)) translate(3.15em)
		rotate(calc(-360deg / 12 * 6));
}
.roundtable > section > li:nth-of-type(7):nth-last-of-type(6) {
	transform: rotate(calc(360deg / 12 * 7)) translate(3.15em)
		rotate(calc(-360deg / 12 * 7));
}
.roundtable > section > li:nth-of-type(8):nth-last-of-type(5) {
	transform: rotate(calc(360deg / 12 * 8)) translate(3.15em)
		rotate(calc(-360deg / 12 * 8));
}
.roundtable > section > li:nth-of-type(9):nth-last-of-type(4) {
	transform: rotate(calc(360deg / 12 * 9)) translate(3.15em)
		rotate(calc(-360deg / 12 * 9));
}
.roundtable > section > li:nth-of-type(10):nth-last-of-type(3) {
	transform: rotate(calc(360deg / 12 * 10)) translate(3.15em)
		rotate(calc(-360deg / 12 * 10));
}
.roundtable > section > li:nth-of-type(11):nth-last-of-type(2) {
	transform: rotate(calc(360deg / 12 * 11)) translate(3.15em)
		rotate(calc(-360deg / 12 * 11));
}
.roundtable > section > li:nth-of-type(12):nth-last-of-type(1) {
	transform: rotate(calc(360deg / 12 * 12)) translate(3.15em)
		rotate(calc(-360deg / 12 * 12));
}
/* 11 */
.roundtable > section > li:nth-of-type(1):nth-last-of-type(11) {
	transform: rotate(calc(360deg / 11)) translate(3.15em)
		rotate(calc(-360deg / 11));
}
.roundtable > section > li:nth-of-type(2):nth-last-of-type(10) {
	transform: rotate(calc(360deg / 11 * 2)) translate(3.15em)
		rotate(calc(-360deg / 11 * 2));
}
.roundtable > section > li:nth-of-type(3):nth-last-of-type(9) {
	transform: rotate(calc(360deg / 11 * 3)) translate(3.15em)
		rotate(calc(-360deg / 11 * 3));
}
.roundtable > section > li:nth-of-type(4):nth-last-of-type(8) {
	transform: rotate(calc(360deg / 11 * 4)) translate(3.15em)
		rotate(calc(-360deg / 11 * 4));
}
.roundtable > section > li:nth-of-type(5):nth-last-of-type(7) {
	transform: rotate(calc(360deg / 11 * 5)) translate(3.15em)
		rotate(calc(-360deg / 11 * 5));
}
.roundtable > section > li:nth-of-type(6):nth-last-of-type(6) {
	transform: rotate(calc(360deg / 11 * 6)) translate(3.15em)
		rotate(calc(-360deg / 11 * 6));
}
.roundtable > section > li:nth-of-type(7):nth-last-of-type(5) {
	transform: rotate(calc(360deg / 11 * 7)) translate(3.15em)
		rotate(calc(-360deg / 11 * 7));
}
.roundtable > section > li:nth-of-type(8):nth-last-of-type(4) {
	transform: rotate(calc(360deg / 11 * 8)) translate(3.15em)
		rotate(calc(-360deg / 11 * 8));
}
.roundtable > section > li:nth-of-type(9):nth-last-of-type(3) {
	transform: rotate(calc(360deg / 11 * 9)) translate(3.15em)
		rotate(calc(-360deg / 11 * 9));
}
.roundtable > section > li:nth-of-type(10):nth-last-of-type(2) {
	transform: rotate(calc(360deg / 11 * 10)) translate(3.15em)
		rotate(calc(-360deg / 11 * 10));
}
.roundtable > section > li:nth-of-type(11):nth-last-of-type(1) {
	transform: rotate(calc(360deg / 11 * 11)) translate(3.15em)
		rotate(calc(-360deg / 11 * 11));
}
/* 10 */
.roundtable > section > li:nth-of-type(1):nth-last-of-type(10) {
	transform: rotate(calc(360deg / 10)) translate(3.15em)
		rotate(calc(-360deg / 10));
}
.roundtable > section > li:nth-of-type(2):nth-last-of-type(9) {
	transform: rotate(calc(360deg / 10 * 2)) translate(3.15em)
		rotate(calc(-360deg / 10 * 2));
}
.roundtable > section > li:nth-of-type(3):nth-last-of-type(8) {
	transform: rotate(calc(360deg / 10 * 3)) translate(3.15em)
		rotate(calc(-360deg / 10 * 3));
}
.roundtable > section > li:nth-of-type(4):nth-last-of-type(7) {
	transform: rotate(calc(360deg / 10 * 4)) translate(3.15em)
		rotate(calc(-360deg / 10 * 4));
}
.roundtable > section > li:nth-of-type(5):nth-last-of-type(6) {
	transform: rotate(calc(360deg / 10 * 5)) translate(3.15em)
		rotate(calc(-360deg / 10 * 5));
}
.roundtable > section > li:nth-of-type(6):nth-last-of-type(5) {
	transform: rotate(calc(360deg / 10 * 6)) translate(3.15em)
		rotate(calc(-360deg / 10 * 6));
}
.roundtable > section > li:nth-of-type(7):nth-last-of-type(4) {
	transform: rotate(calc(360deg / 10 * 7)) translate(3.15em)
		rotate(calc(-360deg / 10 * 7));
}
.roundtable > section > li:nth-of-type(8):nth-last-of-type(3) {
	transform: rotate(calc(360deg / 10 * 8)) translate(3.15em)
		rotate(calc(-360deg / 10 * 8));
}
.roundtable > section > li:nth-of-type(9):nth-last-of-type(2) {
	transform: rotate(calc(360deg / 10 * 9)) translate(3.15em)
		rotate(calc(-360deg / 10 * 9));
}
.roundtable > section > li:nth-of-type(10):nth-last-of-type(1) {
	transform: rotate(calc(360deg / 10 * 10)) translate(3.15em)
		rotate(calc(-360deg / 10 * 10));
}
/* 09 */
.roundtable > section > li:nth-of-type(1):nth-last-of-type(9) {
	transform: rotate(calc(360deg / 9)) translate(3.15em)
		rotate(calc(-360deg / 9));
}
.roundtable > section > li:nth-of-type(2):nth-last-of-type(8) {
	transform: rotate(calc(360deg / 9 * 2)) translate(3.15em)
		rotate(calc(-360deg / 9 * 2));
}
.roundtable > section > li:nth-of-type(3):nth-last-of-type(7) {
	transform: rotate(calc(360deg / 9 * 3)) translate(3.15em)
		rotate(calc(-360deg / 9 * 3));
}
.roundtable > section > li:nth-of-type(4):nth-last-of-type(6) {
	transform: rotate(calc(360deg / 9 * 4)) translate(3.15em)
		rotate(calc(-360deg / 9 * 4));
}
.roundtable > section > li:nth-of-type(5):nth-last-of-type(5) {
	transform: rotate(calc(360deg / 9 * 5)) translate(3.15em)
		rotate(calc(-360deg / 9 * 5));
}
.roundtable > section > li:nth-of-type(6):nth-last-of-type(4) {
	transform: rotate(calc(360deg / 9 * 6)) translate(3.15em)
		rotate(calc(-360deg / 9 * 6));
}
.roundtable > section > li:nth-of-type(7):nth-last-of-type(3) {
	transform: rotate(calc(360deg / 9 * 7)) translate(3.15em)
		rotate(calc(-360deg / 9 * 7));
}
.roundtable > section > li:nth-of-type(8):nth-last-of-type(2) {
	transform: rotate(calc(360deg / 9 * 8)) translate(3.15em)
		rotate(calc(-360deg / 9 * 8));
}
.roundtable > section > li:nth-of-type(9):nth-last-of-type(1) {
	transform: rotate(calc(360deg / 9 * 9)) translate(3.15em)
		rotate(calc(-360deg / 9 * 9));
}
/* 08 */
.roundtable > section > li:nth-of-type(1):nth-last-of-type(8) {
	transform: rotate(calc(360deg / 8)) translate(3.15em)
		rotate(calc(-360deg / 8));
}
.roundtable > section > li:nth-of-type(2):nth-last-of-type(7) {
	transform: rotate(calc(360deg / 8 * 2)) translate(3.15em)
		rotate(calc(-360deg / 8 * 2));
}
.roundtable > section > li:nth-of-type(3):nth-last-of-type(6) {
	transform: rotate(calc(360deg / 8 * 3)) translate(3.15em)
		rotate(calc(-360deg / 8 * 3));
}
.roundtable > section > li:nth-of-type(4):nth-last-of-type(5) {
	transform: rotate(calc(360deg / 8 * 4)) translate(3.15em)
		rotate(calc(-360deg / 8 * 4));
}
.roundtable > section > li:nth-of-type(5):nth-last-of-type(4) {
	transform: rotate(calc(360deg / 8 * 5)) translate(3.15em)
		rotate(calc(-360deg / 8 * 5));
}
.roundtable > section > li:nth-of-type(6):nth-last-of-type(3) {
	transform: rotate(calc(360deg / 8 * 6)) translate(3.15em)
		rotate(calc(-360deg / 8 * 6));
}
.roundtable > section > li:nth-of-type(7):nth-last-of-type(2) {
	transform: rotate(calc(360deg / 8 * 7)) translate(3.15em)
		rotate(calc(-360deg / 8 * 7));
}
.roundtable > section > li:nth-of-type(8):nth-last-of-type(1) {
	transform: rotate(calc(360deg / 8 * 8)) translate(3.15em)
		rotate(calc(-360deg / 8 * 8));
}
/* 07 */
.roundtable > section > li:nth-of-type(1):nth-last-of-type(7) {
	transform: rotate(calc(360deg / 7)) translate(3.15em)
		rotate(calc(-360deg / 7));
}
.roundtable > section > li:nth-of-type(2):nth-last-of-type(6) {
	transform: rotate(calc(360deg / 7 * 2)) translate(3.15em)
		rotate(calc(-360deg / 7 * 2));
}
.roundtable > section > li:nth-of-type(3):nth-last-of-type(5) {
	transform: rotate(calc(360deg / 7 * 3)) translate(3.15em)
		rotate(calc(-360deg / 7 * 3));
}
.roundtable > section > li:nth-of-type(4):nth-last-of-type(4) {
	transform: rotate(calc(360deg / 7 * 4)) translate(3.15em)
		rotate(calc(-360deg / 7 * 4));
}
.roundtable > section > li:nth-of-type(5):nth-last-of-type(3) {
	transform: rotate(calc(360deg / 7 * 5)) translate(3.15em)
		rotate(calc(-360deg / 7 * 5));
}
.roundtable > section > li:nth-of-type(6):nth-last-of-type(2) {
	transform: rotate(calc(360deg / 7 * 6)) translate(3.15em)
		rotate(calc(-360deg / 7 * 6));
}
.roundtable > section > li:nth-of-type(7):nth-last-of-type(1) {
	transform: rotate(calc(360deg / 7 * 7)) translate(3.15em)
		rotate(calc(-360deg / 7 * 7));
}
/* 06 */
.roundtable > section > li:nth-of-type(1):nth-last-of-type(6) {
	transform: rotate(calc(360deg / 6)) translate(3.15em)
		rotate(calc(-360deg / 6));
}
.roundtable > section > li:nth-of-type(2):nth-last-of-type(5) {
	transform: rotate(calc(360deg / 6 * 2)) translate(3.15em)
		rotate(calc(-360deg / 6 * 2));
}
.roundtable > section > li:nth-of-type(3):nth-last-of-type(4) {
	transform: rotate(calc(360deg / 6 * 3)) translate(3.15em)
		rotate(calc(-360deg / 6 * 3));
}
.roundtable > section > li:nth-of-type(4):nth-last-of-type(3) {
	transform: rotate(calc(360deg / 6 * 4)) translate(3.15em)
		rotate(calc(-360deg / 6 * 4));
}
.roundtable > section > li:nth-of-type(5):nth-last-of-type(2) {
	transform: rotate(calc(360deg / 6 * 5)) translate(3.15em)
		rotate(calc(-360deg / 6 * 5));
}
.roundtable > section > li:nth-of-type(6):nth-last-of-type(1) {
	transform: rotate(calc(360deg / 6 * 6)) translate(3.15em)
		rotate(calc(-360deg / 6 * 6));
}
/* 05 */
.roundtable > section > li:nth-of-type(1):nth-last-of-type(5) {
	transform: rotate(calc(360deg / 5)) translate(3.15em)
		rotate(calc(-360deg / 5));
}
.roundtable > section > li:nth-of-type(2):nth-last-of-type(4) {
	transform: rotate(calc(360deg / 5 * 2)) translate(3.15em)
		rotate(calc(-360deg / 5 * 2));
}
.roundtable > section > li:nth-of-type(3):nth-last-of-type(3) {
	transform: rotate(calc(360deg / 5 * 3)) translate(3.15em)
		rotate(calc(-360deg / 5 * 3));
}
.roundtable > section > li:nth-of-type(4):nth-last-of-type(2) {
	transform: rotate(calc(360deg / 5 * 4)) translate(3.15em)
		rotate(calc(-360deg / 5 * 4));
}
.roundtable > section > li:nth-of-type(5):nth-last-of-type(1) {
	transform: rotate(calc(360deg / 5 * 5)) translate(3.15em)
		rotate(calc(-360deg / 5 * 5));
}
/* 04 */
.roundtable > section > li:nth-of-type(1):nth-last-of-type(4) {
	transform: rotate(calc(360deg / 4)) translate(3.15em)
		rotate(calc(-360deg / 4));
}
.roundtable > section > li:nth-of-type(2):nth-last-of-type(3) {
	transform: rotate(calc(360deg / 4 * 2)) translate(3.15em)
		rotate(calc(-360deg / 4 * 2));
}
.roundtable > section > li:nth-of-type(3):nth-last-of-type(2) {
	transform: rotate(calc(360deg / 4 * 3)) translate(3.15em)
		rotate(calc(-360deg / 4 * 3));
}
.roundtable > section > li:nth-of-type(4):nth-last-of-type(1) {
	transform: rotate(calc(360deg / 4 * 4)) translate(3.15em)
		rotate(calc(-360deg / 4 * 4));
}
/* 03 */
.roundtable > section > li:nth-of-type(1):nth-last-of-type(3) {
	transform: rotate(calc(360deg / 3)) translate(3.15em)
		rotate(calc(-360deg / 3));
}
.roundtable > section > li:nth-of-type(2):nth-last-of-type(2) {
	transform: rotate(calc(360deg / 3 * 2)) translate(3.15em)
		rotate(calc(-360deg / 3 * 2));
}
.roundtable > section > li:nth-of-type(3):nth-last-of-type(1) {
	transform: rotate(calc(360deg / 3 * 3)) translate(3.15em)
		rotate(calc(-360deg / 3 * 3));
}
/* 02 */
.roundtable > section > li:nth-of-type(1):nth-last-of-type(2) {
	transform: rotate(calc(360deg / 2)) translate(3.15em)
		rotate(calc(-360deg / 2));
}
.roundtable > section > li:nth-of-type(2):nth-last-of-type(1) {
	transform: rotate(calc(360deg / 2 * 2)) translate(3.15em)
		rotate(calc(-360deg / 2 * 2));
}
/* 01 */
.roundtable > section > li:nth-of-type(1):nth-last-of-type(1) {
	transform: rotate(360deg) translate(3.15em) rotate(-360deg);
}

/* Get Started */
main > .get-started {
	position: relative;
	display: block;
	height: calc(100vh - 120px);
}
main > .get-started #1 {
	text-align: center;
}
main > .get-started > article {
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 100%;
	max-height: calv(100vh - 85px);
	transform: translate(calc(-50% + 30px), -50%);
	opacity: 0;
	z-index: -1;
	transition: transform 0.5s 0.1s ease-in-out, opacity 0.5s 0.1s ease-in-out;
}
main > .get-started > article.selected {
	transform: translate(-50%, -50%);
	opacity: 1;
	z-index: 1;
}
main > .get-started > article.previous {
	transform: translate(calc(-50% - 30px), -50%);
	opacity: 0;
	z-index: -1;
	transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}
main > .get-started > article#onboard-step-1 ul.roundtable {
	box-shadow: 0 0 0 rgba(255, 220, 0, 1);
	transition: box-shadow 0.35s ease-in-out;
}
main > .get-started > article#onboard-step-1 ul.roundtable:hover {
	box-shadow: 0 0 0 1.25em rgba(255, 220, 0, 1);
}
main > .get-started > article#onboard-step-1 ul.roundtable h5 {
	cursor: pointer;
	transition: color 0.25s ease-in-out;
}
main > .get-started > article#onboard-step-1 ul.roundtable:hover h5 {
	color: rgba(255, 220, 0, 1);
}
main > .get-started > article .field {
	border: 0;
	border-radius: 0;
}
main > .get-started > article .field input {
	padding: 10px 0 0;
	color: rgba(15, 30, 30, 1);
	border: 2px dashed rgba(15, 30, 30, 0.05);
}
main > .get-started > article .field input:focus,
main > .get-started > article .field.selected input {
	border: 2px dashed transparent;
}
main > .get-started > article .field input + label {
	left: 10px;
	color: rgba(15, 30, 30, 1);
}
main > .get-started > article .field input:focus + label,
main > .get-started > article .field.selected input + label {
	left: 0;
	color: rgba(15, 30, 30, 0.5);
}

@media only screen and (max-width: 1600px) {
	body main {
		display: block;
		width: 100%;
		max-width: 100%;
		font-size: 0.5em;
	}
	section.table {
		background: rgba(255, 255, 255, 1);
		border: 1px solid rgba(15, 30, 30, 0.07);
		box-shadow: 3px 3px 0 rgba(15, 30, 30, 0.01);
	}
}

@media only screen and (max-width: 1024px) {
	body.home header {
		padding: 0 20px 20px;
	}
	body.home header > * {
		position: relative;
		display: block;
		width: 100%;
		height: inherit;
		min-height: calc(50vh);
		padding: 0;
	}
	body.home header form {
		position: relative;
		top: initial;
		left: initial;
		transform: none;
		padding: 30px 30px;
	}
	body.home header nav {
		position: relative;
		display: block;
		top: initial;
		padding: 20px 0 0;
		font-size: 0.75em;
	}
	body.home header figure {
		border-radius: 30px;
	}
	header nav > ul {
		position: relative;
		display: block;
	}
	header nav.light > ul {
		padding: 0;
		text-align: right;
	}
	article.myRoundtables {
		max-width: calc(100% - 20px);
		padding: 0;
	}
	section.table {
		padding: 19rem 2em 3em;
		border-radius: 30px;
		border-top-left-radius: 250px;
		border-top-right-radius: 250px;
		text-align: center;
	}
	section.table ul.roundtable {
		top: 2.5em;
		left: 50%;
		transform: translate(-4em, -50%);
		font-size: 2rem;
	}
}
